<%= content_for :title, 'Testimonial app - ' + @business_profile.name %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
    <div class="panel-body">
      <h1><%= @business_profile.name %></h1>

      <h2>Location</h2>
      <p><%= @business_profile.street %></p>
      <p><%= @business_profile.city %> <%= @business_profile.state %> <%= @business_profile.postcode %> <%= @business_profile.country %></p>

      <h4><span class="fa fa-phone"></span> <%= @business_profile.phone %></h4>
      <h4><span class="fa fa-envelope"></span> <%= @business_profile.email %></h4>
      <h4><i class="fa fa-globe"></i> <%= link_to 'Website', @business_profile.website %></h4>
      <h4>
        <i class="fa fa-twitter"></i> 
        <a href="http://twitter.com/<%= @business_profile.twitter %>"> <%= @business_profile.twitter %></a>
      </h4>

<%= link_to 'Edit', edit_business_profile_path(@business_profile), class: 'btn btn-primary' %>
</div></div></div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Leave your testimonial</h3>
      <%= render 'testimonials/form' %>
    </div>
  </div>
</div>
</div>
<div class="row">
  <% @testimonials.each_with_index do |testimonial, index| %>
  <% if (index%2) == 0 %>
    </div>
    <div class="row">
  <% end %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Reviewed by: <%= testimonial.user.user_profile.name %></p>
        <p>Star rating: <% testimonial.star_rating.times do %><i class="fa fa-star gold"></i> <% end %></p>
        <p>Review:</p>
        <p><%= testimonial.body %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>









</div>
